---
layout: layout
---
<article class="site-content__post post" itemscope itemtype="http://schema.org/Article">
  <header class="post__header">
    <div class="post__header__meta">
      <time datetime="{{ page.date | toISOString }}">{{ page.date | toUTCDate }}</time>
    </div>

    <h1 class="post__header__title" itemprop="name">{{ title }}</h1>

    <ul class="post__header__tags">
      {% for tag in tags %}
        <li class="tag--border" data-tag="{{ tag | downcase | replace:' ','-'  }}" aria-label="List posts with tag {{ tag }}" title="{{ tag }}">{{ tag }}</li>
      {% endfor %}
    </ul>
  </header>

  <div class="post__body" itemprop="description">
    {{ content }}

    <div class="post__body__call-to-action">
      <p>Enjoyed this post? Grab the <a href="http://wadmiraal.net/feed.xml" title="Link to the blog's RSS feed">RSS feed</a> or <a href="http://twitter.com/wadmiraal" title="Link to @wadmiraal's profile on Twitter">follow me on Twitter</a>!</p>

      {% if credits %}
        <p>Special thanks to:</p>
      {% endif %}
      {% for credit in credits %}
        <div>
        {% if credit.site %}
          <a href="{{ credit.site }}">{{ credit.name }}</a>
        {% else %}
          {{ credit.name }}
        {% endif %}
        </div>
      {% endfor %}
      {% if credits %}
        <p>for contributing to this post.</p>
      {% endif %}

      <p>Found a typo ? <a href="https://github.com/wadmiraal/wadmiraal.net/fork" title="If you found an error in this post, you can fork the Github project, correct it, submit a pull request, and I will credit you in the post footer.">Correct it, submit a pull-request and get credited here</a>!</p>
    </div>
  </div>

  <div id="disqus_thread" class="post__comments"></div>

  <script type="text/javascript">
    var disqus_shortname = 'wadmiraalnet';
    (function() {
        var dsq = document.createElement( 'script' ); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        document.getElementById( 'disqus_thread' ).appendChild( dsq );
    })();
  </script>

  <footer class="post__footer">
    <ul class="post__footer__prev-next">
      {% if previousPost %}
        <li class="post__footer__prev-next__prev">
          <a href="{{ previousPost.url }}" title="Read the previous post, entitled &ldquo;{{ previousPost.title }}&rdquo;">Previous post</a>
        </li>
      {% endif %}

      {% if nextPost %}
        <li class="post__footer__prev-next__next">
          <a href="{{ nextPost.url }}" title="Read the next post, entitled &ldquo;{{ nextPost.title }}&rdquo;">Next post</a>
        </li>
      {% endif %}
    </ul>

    <div class="post__footer__copy">
      <p><a href="http://creativecommons.org/licenses/by-sa/3.0/deed" title="Read more about the CC BY-SA 3.0 license"><img src="/img/cc.png" alt="All posts are licensed under the CC BY-SA 3.0 license"></a></p>
      <p><a href="/privacy/" title="Read more about this site's privacy policy">Privacy Policy</a></p>
    </div>
  </footer>
</article>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "http://wadmiraal.net/",
      "name": "Home"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "http://wadmiraal.net/lore/",
      "name": "Blog"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ page.url }}",
      "name": "{{ title }}"
    }
  }]
}
</script>
