DirectoryIndex index.html

<IfModule mod_rewrite.c>
  RewriteEngine on

  # Redirect www. to base.
  RewriteCond %{HTTP_HOST} ^www\.wadmiraal\.net$ [NC]
  RewriteRule ^(.*)$ http://wadmiraal.net/$1 [L,R=301]

  # Redirect old tag pages.
  RewriteRule ^tag/(.*)$ /index.html?show_tag=$1 [R=301,NC,L]

  # Redirect old post URLs to their new home.
  Redirect permanent /lore/2013/02/26/go-make-your-own-bloody-framework/ http://wadmiraal.net/lore/2013/02/26/go-make-your-own-framework/
  Redirect permanent /lore/2018/01/22/drupal8-kernel-tests-ci-servers-and-the-file-structure/ http://wadmiraal.net/lore/2018/01/22/drupal-8-with-travisci-and-sonarcloud/
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresDefault                          "access plus 1 week"

  # CSS
  ExpiresByType text/css                  "access plus 1 month"

  # HTML
  ExpiresByType text/html                 "access plus 1 day"

  # JavaScript
  ExpiresByType application/javascript    "access plus 1 month"
  ExpiresByType application/x-javascript  "access plus 1 month"
  ExpiresByType text/javascript           "access plus 1 month"

  <IfModule mod_headers.c>
    Header append Cache-Control "public"
  </IfModule>
</IfModule>
