---
title: "Drupal data"
layout: page
---
<div class="col twelvecol last">
  <p>This is the blog of Wouter Admiraal, web developer extraordinaire. Come here for rants, pseudo-wisdom or loosing precious time.</p>

  <p>I blog about Drupal, front end development and many, many irrelevant topics.</p>

  <div class="row">
    <aside id="latest-articles" class="col sixcol">
      <h2>Latest posts</h2>

      {% for post in site.posts limit:2 %}
        <article>
          <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>

          {% if post.teaser %}
            <div class="teaser">
              {{ post.teaser }}
            </div>
          {% endif %}
        </article>
      {% endfor %}
    </aside>

    <aside id="favorite-articles"  class="col sixcol last">
      <h2>Favorite posts</h2>

      {% for post in site.posts %}
        {% if post.favorite %}
          <article>
            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>

            {% if post.teaser %}
              <div class="teaser">
                {{ post.teaser }}
              </div>
            {% endif %}
          </article>
        {% endif %}
      {% endfor %}
    </aside>
  </div>
</div>