{% extends "_layouts/layout.html" %}

{% block content %}
  <article class="site-content__post post">
    <header class="post__header">
      <div class="post__header__meta">
        <time datetime="{{ page.date | date_to_utc | date:"%Y-%m-%dT%H:%M:%SZ" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
      </div>

      <h1 class="post__header__title">{{ page.title }}</h1>

      <ul class="post__header__tags">
        {% for tag in page.tags %}
          <li class="tag--border" data-tag="{{ tag | downcase | replace:' ','-'  }}" title="{{ tag }}">{{ tag }}</li>
        {% endfor %}
      </ul>
    </header>

    <div class="post__body">
      {{ content }}

      <div class="post__body__call-to-action">
        <p>Enjoyed this post? Grab the <a href="http://wadmiraal.net/feed.xml">RSS feed</a> or <a href="http://twitter.com/wadmiraal">follow me on Twitter</a>!</p>

        <p>Found a typo ? <a href="https://github.com/wadmiraal/wadmiraal.net/fork">Correct it, submit a pull-request and get credited here</a>!</p>
      </div>
    </div>

    <div id="disqus_thread" class="post__comments"></div>

    <script type="text/javascript">
      var disqus_shortname = 'wadmiraalnet';
      (function() {
          var dsq = document.createElement( 'script' ); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          document.getElementById( 'disqus_thread' ).appendChild( dsq );
      })();
    </script>

    <footer class="post__footer">
      <ul class="post__footer__prev-next">
        {% if page.previous %}
          <li class="post__footer__prev-next__prev">
            <a href="{{ page.previous.url }}" title="Previously: &ldquo;{{ page.previous.title }}&rdquo;">Previous post</a>
          </li>
        {% endif %}

        {% if page.next %}
          <li class="post__footer__prev-next__next">
            <a href="{{ page.next.url }}" title="Coming up: &ldquo;{{ page.next.title }}&rdquo;">Next post</a>
          </li>
        {% endif %}
      </ul>

      <div class="post__footer__copy">
        <p><a href="http://creativecommons.org/licenses/by-sa/3.0/deed"><img src="/img/cc.png"></a></p>
      </div>
    </footer>
  </article>
{% endblock %}
