/**
 * Variables
 */
@bodyBackground: url(../media/layout03-background.gif);
@bodyFont: "Courier New", Courier, monospace;
@bodyColor: #000;

@linkColor: #e06700;
@linkColorHover: #ff7600;
@linkColorVisited: #af5101;

@maxWidth: 750px;

@codeBackground: #eee;
@codeBorderColor: #ddd;

@quoteBackground: #fefabc;
@quoteFont: 'Gloria Hallelujah', cursive;

/**
 * Mixins
 */
.border-radius (@radius) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  -o-border-radius: @radius;
  -ms-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow (@x, @y, @offset, @color) {
  -moz-box-shadow: @x @y @offset @color;
  -webkit-box-shadow: @x @y @offset @color;
  -o-box-shadow: @x @y @offset @color;
  -ms-box-shadow: @x @y @offset @color;
  box-shadow: @x @y @offset @color;
}

.rotate (@deg) {
	-moz-transform: rotate(@deg);
	-webkit-transform: rotate(@deg);
	-o-transform: rotate(@deg);
	-ms-transform: rotate(@deg);
	transform: rotate(@deg);
}

.gradient (@deg, @colorStart, @colorEnd) {
	background: @colorStart; /* Old browsers */
	background: -moz-linear-gradient(@deg, @colorStart 77%, @colorEnd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(77%,@colorStart), color-stop(100%,@colorEnd)); /*Chrome,Safari4+*/
	background: -webkit-linear-gradient(@deg, @colorStart 77%,@colorEnd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(@deg, @colorStart 77%,@colorEnd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(@deg, @colorStart 77%,@colorEnd 100%); /* IE10+ */
	background: linear-gradient(@deg, @colorStart 77%,@colorEnd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@colorStart', endColorstr='@colorEnd',GradientType=1 );
}

/**
 * Fonts
 */
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

/**
 * Tags
 */
body {
	background: @bodyBackground;
  font-family: @bodyFont;
	font-size: 62.5%;
	line-height: 1.5;
	color: @bodyColor;
}

a { color: @linkColor; }
a:hover { color: @linkColorHover; }
a:visited { color: @linkColorVisited; }

h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }

img {
	max-width: 100%;
}

/**
 * Layout
 */
#main {
	margin: 0 auto;
	font-size: 1.4em;
	max-width:  @maxWidth;
}

	#main {
	 	>* {
			padding: 1em;
		}
	}

	header {
		overflow: hidden;
	}

		#left { float: left; }

		#right { float: right; }

		#lore-nav {
			clear: both;
			text-align: center;
		}

	.published-info { font-style: italic; }

footer {
	text-align: center;
}

/**
 * Text
 */
blockquote {
	.gradient(-45deg, #ffff88, #ffffcd);
	.box-shadow(0px 4px 6px #333);
	.rotate(-2deg);
	font-family: @quoteFont;
	padding: 1em;
	max-width: 50%;
	margin: auto;
	line-height: 2;
	border-bottom-right-radius: 60px 5px;
}

blockquote code { font-family: @quoteFont; }

blockquote:nth-of-type(2) { .rotate(3deg); }

blockquote:nth-of-type(3) { .rotate(-5deg); }

blockquote:nth-of-type(4) { .rotate(1deg); }

/**
 * Code
 */
code {
	background: @codeBackground;
	border: 1px solid @codeBorderColor;
	.border-radius(5px);
}

pre {
	code {
		display: block;
		padding: 1em;
	}
}

@media only screen and (min-width: 767px) {
	h1:before {	content: "# "; }
	h1 { margin-left: -1.2em; }

	h2:before {	content: "## "; }
	h2 { margin-left: -1.8em; }

	h3:before {	content: "### "; }
	h3 { margin-left: -2.4em; }

	p { text-indent: 2em; }
}
