/**
 * @file
 * Defines the menu styles.
 */

.site-menu {
  width: 350px;
  padding: 75px 0 25px 0;

  position: absolute;
  top: 0;
  bottom: 0;

  background: green;

  @include box-shadow(5px 0 5px rgba(0, 0, 0, .7));

  ul {
    margin: 0;
    padding: 0;

    list-style: none;

    li {
      margin: 0;
      padding: 10px 25px;
    }
  }
}

.site-menu__item {
  border-right-width: 0;
  border-right-style: solid;

  &.active, &:hover {
    border-right-width: 10px;
    background: white;
  }

  // If the parent has the directive to show a specific tag, we activate all the
  // borders for posts tagged with that tag.
  @each $tag in $tags {
    [data-show-posts-tagged-with="#{$tag}"] &[data-tags~="#{$tag}"] {
      border-right-width: 10px !important;
    }
  }
}

.site-menu__color-code-legends {
  position: absolute;
  right: 0;
  top: 35px;

  text-align: right;
}

.site-menu__color-code-legends__legend {
  height: 10px;
  padding: 0 10px 0 0 !important;
  display: none;

  font-size: 10px;

  border-right-width: 10px;
  border-right-style: solid;

  // If the parent has the directive to show a specific tag, we activate it.
  @each $tag in $tags {
    // If we must show the legend for the active post.
    [data-show-legend-for="#{$tag}"] &[data-tags="#{$tag}"] {
      display: block;
    }

    // If we must show the legend for the active tag.
    [data-show-posts-tagged-with="#{$tag}"] & {
      display: none !important;
    }

    [data-show-posts-tagged-with="#{$tag}"] &[data-tags="#{$tag}"] {
      display: block !important;
    }
  }
}