/**
 * @file
 * Defines the menu styles.
 */

.site-menu {
  width: $menu-width;
  padding: $header-height 0 $default-padding 0;

  position: absolute;
  top: 0;
  z-index: 100;

  background: url(../img/header-light.png) top left repeat-x $light-gray;

  @include box-sizing(border-box);
  @include box-shadow(5px 0 5px rgba(0, 0, 0, .7));
  @include transition-property(left);
  @include transition-duration(.5s);

  @media screen and (max-width: $breakpoint-mobile) {
    // We use !important to override some JS rules necessary for larger screens.
    bottom: 0 !important;
    height: auto !important;
  }

  ul {
    margin: 0;
    padding: 0;

    list-style: none;

    li {
      margin: 0;
      padding: 0;

      a {
        display: block;
        padding: 10px $default-padding;

        text-decoration: none;
      }
    }
  }
}

.has-js {

  .site-menu {
    left: -($menu-width + 10px);

    overflow: hidden;

    #posts-items {
      height: 100%;

      overflow: hidden;

      @media screen and (max-width: $breakpoint-mobile) {
        overflow: scroll;
      }
    }
  }

  .site-menu.open {
    left: 0;
  }
}

.site-menu__item {
  color: $header-color;

  a {
    color: inherit;

    border-right-width: 0;
    border-right-style: solid;

    // If the parent has the directive to show a specific tag, we activate all
    // the borders for posts tagged with that tag.
    @each $tag in map_keys($tag-color) {
      [data-show-posts-tagged-with="#{$tag}"] &[data-tags~="#{$tag}"] {
        border-right-width: 10px !important;
      }
    }
  }

  &.active, &:hover {

    a {
      border-right-width: 10px;
      background: $very-light-gray;
    }

    // However, if we show tagged posts, we disable the border.
    @each $tag in map_keys($tag-color) {
      [data-show-posts-tagged-with="#{$tag}"] & a {
        border-right-width: 0;
      }
    }
  }
}

.site-menu__color-code-legends {
  position: absolute;
  right: 0;
  top: 35px;

  text-align: right;
  color: white;
  line-height: 1.1;

  @media screen and (max-width: $breakpoint-mobile) {
    top: 30px;
  }
}

.site-menu__color-code-legends__legend {
  height: 10px;
  padding: 0 10px 0 0 !important;
  display: none;

  font-size: 10px;

  border-right-width: 10px;
  border-right-style: solid;


  @media screen and (max-width: $breakpoint-mobile) {
    height: 20px;

    font-size: 15px;
  }

  // If the parent has the directive to show a specific tag, we activate it.
  @each $tag in map_keys($tag-color) {
    // If we must show the legend for the active post.
    [data-show-legend-for="#{$tag}"] &[data-tags="#{$tag}"] {
      display: block;
    }

    // If we must show the legend for the active tag.
    [data-show-posts-tagged-with="#{$tag}"] & {
      display: none !important;
    }

    [data-show-posts-tagged-with="#{$tag}"] &[data-tags="#{$tag}"] {
      display: block !important;
    }
  }
}
