/**
 * @file
 * Defines the post content styles, meaning post body, sub-titles, etc.
 */

.post__body {
  max-width: 650px;

  font-size: 20px;

  h2.tag--border {
    padding-left: 10px;

    border-left-width: 5px;
    border-left-style: solid;
  }
}
