@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Stoke|Handlee&subset=latin,latin-ext);

.icon:before {
  font-family: 'entypo', sans-serif;
}

/**
 * Structure
 */
html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1.5;
  font-family: 'Source Sans Pro', sans-serif;
}

.resume-section {
  min-height: 500px;
  height: 100%;
  background-attachment: fixed;
  position: relative;
}

.resume-section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 4em 1em;
  overflow: hidden;
  position: relative;
}

.scroll-down {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 2em;
}

.scroll-down.js-processed {
  cursor: pointer;
}

.scroll-down:before {
  content: "\e75c";
  font-family: 'entypo', sans-serif;  
}

.competence-table {
  min-width: 50%;
  font-size: 1.1em;
}

.competence-table th, .competence-table td {
  padding: .5em;
  text-align: left;
}

.competence-table .sub-header {
  font-weight: bold;
  font-style: italic;
  border-bottom: 1px solid #bbb;
}


h2 {
  font-size: 2.5em;
}

dt {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 1em;
}

dd {
  margin-bottom: 2em;
}

/**
 * Section styles
 */
/* Personal information */
#personal-information {
  background-image: url(../img/dark_exa.png);
  color: #fff;
}

h1 {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: .25em;
  float: left;
}

#birth-information {
  margin: 0;
  text-indent: 2em;
  font-style: italic;
  clear: both;
}

#contact-information, #address {
  float: right;
  margin: 2em 0 0 2em;
  font-style: normal;
}

#personal-information a {
  color: coral
}

#more-information {
  margin-left: 2em;
  width: 75%;
}

#more-information h4 {
  margin-bottom: 0;
}

/* Professional experience */
#professionla-experience {
  font-family: 'Stoke', serif;
  background-image: url(../img/grey.png);
  color: #555;
}

/* Schools */
#schools {
  font-family: 'Handlee', cursive;
  color: #fff;
  background-image: url(../img/dark_wall.png);
}

#schools dt {
  color: #fff;
  font-weight: bold;
}

#schools dd:nth-child(n+2), #schools dt:nth-child(n+2) {
  -moz-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

#schools dd:nth-child(n+3), #schools dt:nth-child(n+3) {
  -moz-transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
}

#schools dd:nth-child(n+4), #schools dt:nth-child(n+4) {
  -moz-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
}

#schools dd:nth-child(n+5), #schools dt:nth-child(n+5) {
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

/* Professional knowledge */
#professional-knowledge {
  font-family: 'Stoke', serif;
  background-image: url(../img/grey.png);
  color: #555;
}

/* Languages */
#languages {
  font-family: 'Handlee', cursive;
  color: #fff;
  background-image: url(../img/dark_wall.png);
}

/* Other */
#more-personal-information {
  background-image: url(../img/dark_exa.png);
  color: #fff;
}

#more-personal-information a {
  color: coral;
}

#more-personal-information dt {
  color: #999;
}

@media (max-width: 700px) {

  #address,
  #contact-information {
    float: none;
    margin: 2em;
    clear: both;
  }
}
