/**
 * @file
 * Defines project colors.
 */

$tag-color: (
  javascript: #F1DA4E,
  drupal: #0073BA,
  drupal-7: #0073BA,
  drupal-8: #0073BA,
  performance-and-scalability: #FA3330,
  wisdom: #5DA76F,
  for-lolz: #E5449F,
  php: #7077AE,
  rant: #CD7485,
  css: #88931E,
  ux: #EF755E,
  open-source: #40AA54,
  email: #47B8B8,
  git: #F15034,
);

$header-color: #485566;
$header-light-color: #5a6677;
$light-gray: #e3e4e5;
$very-light-gray: #fcfcfc;
$beige: #603D28;
$green: #40AA54;
$red: #F15034;
