/**
 * @file
 * Defines project colors.
 */

$tag-color: (
  js: #FFA017,
  drupal: #006291,
  performance-and-scalability: #FA3330,
  wisdom: #5DA76F
);

$header-color: #485566;
$header-light-color: #5a6677;
$light-gray: #e3e4e5;
$very-light-gray: #fcfcfc;
