/**
 * @file
 * Defines all metrics, like sizes, breakpoints, etc.
 */

// @todo define mobile breakpoint.
$breakpoint-mobile: 600px;
$menu-width: 350px;
$default-padding: 25px;
$default-spacing: 10px;
$header-height: 3 * $default-padding;
