/**
 * @file
 * Defines all projects variables that are not color or metric related.
 */

$tags: drupal, js, performance-and-scalability, wisdom;
$menu-width: 350px;
$default-padding: 25px;
$default-spacing: 10px;
$header-height: 3 * $default-padding;
