
/**
 * Fonts
 */
@import url(http://fonts.googleapis.com/css?family=Orienta|Source+Sans+Pro);


/**
 * Variables
 */
$bodyFont: Orienta, sans-serif;
$bodyColor: #454037;

$linkColor: #c95858;
$linkColorHover: #f87575;
$linkColorVisited: #912d2d;

$maxWidth: 900px;

$codeFont: 'Source Sans Pro', console;
$codeBackground: #dce2e4;
$codeBorderColor: #9caeb3;


/**
 * Tags
 */
html {
	padding-bottom: 20px;
}

body {
  font: {
		family: $bodyFont;
		size: 100%;
	}
	margin: 0 20px;
	line-height: 1.75;
	color: $bodyColor;
}

a { color: $linkColor; }
a:hover { color: $linkColorHover; }
a:visited { color: $linkColorVisited; }

h1, h2, h3, h4, h5, h6, p { text-indent: 2em; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

h1:before, h2:before, h3:before { font-size: 0.8em; }

h1:before {	content: "# "; }
h1 { margin-left: -1.4em; }

h2:before {	content: "## "; }
h2 { margin-left: -1.8em; }

h3:before {	content: "### "; }
h3 { margin-left: -2em; }

img {
	max-width: 100%;
}

code {
	font-family: $codeFont;
	background: $codeBackground;
	border: 1px solid $codeBorderColor;
	line-height: 1.2;
}

pre > code {
	display: block;
	padding: 1em;
	margin-left: 2em;
}

blockquote {
	background: url(../img/quote.png) 0.2em 0.5em no-repeat;
	line-height: 3;
	text-indent: 3em;
	font-style: italic;
}


/**
 * Grid, responsive
 */
.row {
	position: relative;
	max-width: 700px;
	min-width: 200px;
}

.container {
	margin-bottom: 1em;
}


/**
 * Header
 */
#header {
	position: relative;
	
	.row {
		overflow: visible;
	}
}

#menu {
	position: absolute;
	left: -100px;
}

@media screen and (max-width: 1200px) {
	#menu {
		position: relative;
		overflow: hidden;
		left: auto;
		padding: .5em;
		text-align: right;
	}
	
	#menu * {
		display: inline;
	}
	
	#menu li {
		margin-left: 1em;
	}
	
	#logo {
		float: left;
		margin-left: 0;
	}
}


/**
 * Footer
 */
#footer {
	font-size: .9em;
}

#footer-content {
	text-align: center;
}

#next-post-link {
	float: right;
}


/**
 * Home page
 */
#latest-articles, #favorite-articles {
	article {
		border-bottom: 1px solid $codeBorderColor;
	}
	
	h4, p {
		text-indent: 0;
	}
}


/**
 * Posts
 */
.post-meta {
	font-size: .75em;
	font-style: italic;
}
