/**
 * Compass
 */
@import "compass/typography/vertical_rhythm";

/**
 * Fonts
 */
 @import url(http://fonts.googleapis.com/css?family=Source+Code+Pro|Libre+Baskerville:400italic|Open+Sans+Condensed:700|Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext);

/**
 * Variables
 */
$bodyFont: "Open Sans", sans-serif;
$bodyColor: #454037;

$quoteFont: "Libre Baskerville", serif;

$linkColor: #c95858;
$linkColorHover: #f87575;
$linkColorVisited: #912d2d;
$logoColor: #485566;

$codeFont: "Source Code Pro", console;
$codeBackground: #F0F0F0;
$codeBorderColor: #9caeb3;

$titleFont: "Open Sans Condensed", sans-serif;

$base-font-size: 16px;
$base-line-height: 24px;


/**
 * Tags
 */
html {
	padding: 50px 0;
}

body {
  font: {
		family: $bodyFont;
	}
	margin: 0;
	color: $bodyColor;
}

// Vertical Rhythm
@include establish-baseline;

a { color: $linkColor; }
a:hover { color: $linkColorHover; }
a:visited { color: $linkColorVisited; }

p  {
  margin: 1em;
}

p:first-child {
  margin-top: 0;
}

h1 {
  @include adjust-font-size-to(32px);
  color: $logoColor;
  margin-top: 0;
}

h2 { @include adjust-font-size-to(24px); }
h3 { @include adjust-font-size-to(20px); }

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
  font-family: $titleFont;
}

h2, h3, h4, h5, h6 {
  margin: 0;
  @include leader();
}

strong {
  font-weight: 700;
}

img {
	max-width: 100%;
}

code {
	font-family: $codeFont;
	background: $codeBackground;
}

pre {
  @extend p;
}

pre > code {
	display: block;
	padding: 1em;
  @include adjust-font-size-to(12px);
  @include padding-leader();
  @include padding-trailer();
}

blockquote {
  font-family: $quoteFont;
  font-size: 1.1em;
  font-style: italic;
  border-left: 1px solid $logoColor;
  padding-left: 1.5em;
  margin-left: 0;
  @include adjust-leading-to(1.25);

	p {
		margin-left: 0;
    margin-right: 0;
	}

  em {
    font-style: normal;
    font-size: 1.1em;
  }
}


/**
 * Grid, responsive
 */
.row {
	position: relative;
	max-width: 600px;
	min-width: 200px;
}

.container {
	margin-bottom: 1em;
}


/**
 * Header
 */
#header {
	position: relative;

	.row {
		overflow: visible;
	}
}

#menu {
	position: absolute;
	left: -150px;
}

@media screen and (max-width: 1200px) {
	#header {
		overflow: hidden;
	}

	#menu {
		position: relative;
		overflow: hidden;
		left: auto;
		padding: .5em;
		text-align: right;
	}

	#menu * {
		display: inline;
	}

	#menu li {
		margin-left: 1em;
	}

	#logo {
		float: left;
		margin-left: 0;
	}
}

@media screen and (max-width: 600px) {

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  p {
    margin-left: 0;
    margin-right: 0;
  }
}


/**
 * Footer
 */
#footer {
  @include adjust-font-size-to(14px);

  p {
    margin-top: 0;
    text-indent: 0;
  }
}

.footer-content {
	text-align: center;
}

#next-post-link {
	float: right;
}

.cookie-law {
  font-size: 0.8em;
  text-align: center;
}


/**
 * Home page
 */
#latest-articles, #favorite-articles {
	article {
		border-bottom: 1px solid $codeBorderColor;
    min-height: 50px;
	}

	h4, p {
		text-indent: 0;
	}
}


/**
 * Posts
 */
.post-meta {
  @include adjust-font-size-to(12px);
	font-style: italic;
}

#disqus_thread {
	margin-top: 2em;
	margin-bottom: 2em;
}

article footer {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}


/**
 * Misc
 */
#gh-widget > div {
  box-shadow: none !important;
}

.twitter-timeline {
  width: 100% !important;
}