
/**
 * Fonts
 */
@import url(http://fonts.googleapis.com/css?family=Orienta|Source+Code+Pro|Open+Sans);


/**
 * Variables
 */
$bodyFont: "Open Sans", Orienta, sans-serif;
$bodyColor: #454037;

$linkColor: #c95858;
$linkColorHover: #f87575;
$linkColorVisited: #912d2d;

$codeFont: 'Source Code Pro', console;
$codeBackground: #F0F0F0;
$codeBorderColor: #9caeb3;

$titleFont: Orienta, sans-serif;


/**
 * Tags
 */
html {
	padding: 50px 0;
	-webkit-font-smoothing: subpixel-antialiased;
}

body {
  font: {
		family: $bodyFont;
		size: 100%;
	}
	margin: 0 20px;
	line-height: 1.5;
	color: $bodyColor;
}

a { color: $linkColor; }
a:hover { color: $linkColorHover; }
a:visited { color: $linkColorVisited; }

p  {
  text-indent: 32px;
  margin: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
    line-height: 1.1;
    font-family: $titleFont;
}

h1:before, h2:before, h3:before { font-size: 0.8em; }

h1:before {	content: "# "; }
h1 {
	font-size: 2em;
    padding-left: 40px;
    text-indent: -0.75em;
}

h2:before {	content: "## "; }
h2 {
	font-size: 1.75em;
    padding-left: 38px;
    text-indent: -1.25em;
}

h3:before {	content: "### "; }
h3 {
	font-size: 1.5em;
    padding-left: 38px;
    text-indent: -1.75em;
}


img {
	max-width: 100%;
}

code {
	font-family: $codeFont;
	background: $codeBackground;
	line-height: 1.2;
	border: 1px solid $codeBorderColor;
}

pre > code {
	display: block;
	padding: 2em;
	margin-left: 2em;
}

blockquote {
	background: url(../img/quote.png) 0.2em 0.5em no-repeat;
	line-height: 3;
	text-indent: 3em;
	font-style: italic;
	
	p {
		text-indent: 3em;
	}
}


/**
 * Grid, responsive
 */
.row {
	position: relative;
	max-width: 550px;
	min-width: 200px;
}

.container {
	margin-bottom: 1em;
}


/**
 * Header
 */
#header {
	position: relative;
	
	.row {
		overflow: visible;
	}
}

#menu {
	position: absolute;
	left: -150px;
}

@media screen and (max-width: 1200px) {
	#header {
		overflow: hidden;
	}
	
	#menu {
		position: relative;
		overflow: hidden;
		left: auto;
		padding: .5em;
		text-align: right;
	}
	
	#menu * {
		display: inline;
	}
	
	#menu li {
		margin-left: 1em;
	}
	
	#logo {
		float: left;
		margin-left: 0;
	}
}


/**
 * Footer
 */
#footer {
	font-size: .9em;

  p {
    margin-top: 0;
    text-indent: 0;
  }
}

#footer-content {
	text-align: center;
}

#next-post-link {
	float: right;
}


/**
 * Home page
 */
#latest-articles, #favorite-articles {
	article {
		border-bottom: 1px solid $codeBorderColor;
	}
	
	h4, p {
		text-indent: 0;
	}
}


/**
 * Posts
 */
.post-meta {
	font-size: .75em;
	font-style: italic;
}

#disqus_thread {
	margin-top: 2em;
	margin-bottom: 2em;
}

article footer {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}


/**
 * Misc
 */
#gh-widget > div {
  box-shadow: none !important;
}
