/**
 * @file
 * Defines the content styles.
 */

.site-content {
  padding-left: $menu-width + $default-padding;
  padding-bottom: $default-padding;

  @media screen and (max-width: $breakpoint-mobile) {
    padding-right: $default-spacing;
    padding-left: $default-spacing !important;
  }
}

.site-content__post {
  max-width: 700px;
  margin: 0 auto;
}

.site-content__overlay {
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0);

  @include transition-property(background-color);
  @include transition-duration(1s);
}

.has-js {

  .site-content {
    padding-left: $default-padding;
  }

  .site-menu.open ~ .site-content {

    article {

      @media screen and (min-width: $breakpoint-mobile) {
        // Trick to enable hardware acceleration for the blur. Otherwise,
        // performance is really bad.
        @include translate3d(0, 0, 0);
        @include filter(blur(5px));
      }
    }

    .site-content__overlay {
      right: 0;
      bottom: 0;

      background-color: rgba(0, 0, 0, .5);
    }
  }
}

.touch {

  .site-menu.open ~ .site-content {

    // This tries to solve a tricky bug on tablets, on which we cannot hijack
    // scrolling. So, scrolling outside of the menu when it is open, scrolls the
    // page, which is not what we want. This prevents it, albeit in an
    // inelegant way. Mostly because the touch class can also be active
    // on laptops or desktops which have a touch screen...
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: hidden;
  }
}
