/**
 * @file
 * Defines the header styles.
 */

.site-header {
  padding: 25px;
  height: $header-height;

  font-size: 1.4em;

  background: $header-color;

  z-index: 100;
  @include box-sizing(border-box);

  a {
    color: white;
    text-decoration: none;
  }
}

.site-header__menu-toggle {
  height: $default-padding;

  position: absolute;

  color: white;
  font-size: 25px;
  line-height: 1;

  z-index: 900;
}

.has-js {

  .site-header__menu-toggle {
    padding-left: $default-padding + $default-spacing;

    background: url(../img/toggle-icon.png) left top no-repeat;

    cursor: pointer;
  }

  .site-menu.open + .site-header .site-header__menu-toggle {
    background-position: left bottom;
  }
}

.site-header__about-links {
  margin: 0;
  padding: 0;
  height: 25px;

  float: right;

  overflow: hidden;
}

.site-header__about-links__item {
  float: left;

  list-style: none;
}

.site-header__about-links__item + .site-header__about-links__item {
  margin-left: $default-spacing;
}
