---
layout: layout
---
<article class="site-content__post post">
	<header class="post__header">
	  <h1 class="post__header__title">{{ page.title }}</h1>
	</header>

	<div class="post__body">
	  {% body %}
	</div>
</article>
