.container {
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  display: block;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}

.onecol {
  width: 4.85%;
}

.twocol {
  width: 13.5%;
}

.threecol {
  width: 22.15%;
}

.fourcol {
  width: 30.8%;
}

.fivecol {
  width: 39.45%;
}

.sixcol {
  width: 48.1%;
}

.sevencol {
  width: 56.75%;
}

.eightcol {
  width: 65.4%;
}

.ninecol {
  width: 74.05%;
}

.tencol {
  width: 82.7%;
}

.elevencol {
  width: 91.35%;
}

.twelvecol {
  width: 100%;
  margin-right: 0;
}

.last {
  margin-right: 0;
}

img, object, embed {
  max-width: 100%;
}

img {
  height: auto;
}

.show-on-phone, .show-on-tablet, .hide-on-desktop {
  display: none;
}

.show-on-desktop, .hide-on-phone, .hide-on-tablet {
  display: block;
}

/**
 * Tablet
 */
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px) {
	.show-on-phone, .hide-on-tablet, .show-on-desktop {
    display: none;
  }
  
  .hide-on-desktop, .hide-on-phone, .show-on-tablet {
    display: block;
  }
}

/**
 * Mobile
 */
@media handheld, only screen and (max-width: 767px) { 
  .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
    width: auto;
    float: none;
    margin-right: 0;
  }
  
  .hide-on-phone, .show-on-tablet, .show-on-desktop {
    display: none;
  }
  
  .hide-on-desktop, .show-on-phone, .hide-on-tablet {
    display: block;
  }
}